{% extends 'base.html' %}

{% block content %}
<form class="card" method="post">
	<div class="imgcontainer">
		<img src="{{ url_for('static', filename='login.png') }}">
	</div>

	<div class="container">
		<label for="username">Username</label>
		<input type="text" name="username" placeholder="Enter Username" required>

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Enter Password" required>

		<button type="submit">Login</button>
	</div>
</form>
{% endblock %}
