{% extends 'base.html' %}

{% block content %}
<form class="card" method="post">
	<div class="container">
		<label for="activity">Activity</label>
		<select name="activity" id="activity" required>
			{% for type in g.activity_types %}
				<option value="{{ type }}">{{ type }}</option>
			{% endfor %}
		</select>

		<label for="duration">Duration (min)</label>
		<input type="number" name="duration" id="duration" required>

		<label for="details">Details</label>
		<textarea name="details" id="details" required></textarea>

		<button type="submit">Submit</button>
	</div>
</form>
{% endblock %}

