{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Activity{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="activity">Activity</label>
    <select name="activity" id="activity" required>
			{% for type in g.activity_types %}
				<option value="{{ type }}">{{ type }}</option>
			{% endfor %}
		</select>

    <label for="time">Time (min)</label>
    <input type="number" name="time" id="time" required>

    <label for="details">Details</label>
    <textarea name="details" id="details" required></textarea>

    <input type="submit" value="Submit">
  </form>
{% endblock %}

