<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

{% if g.user %}
<nav><ul>
	<li style="background-color: #111"><a>{{ g.user['username'] }}</a></li>

	{% if g.user['accounttype'] == 'admin' %}

	<li {% if request.endpoint == 'dashboard.dashboard' %} class="active" {% endif %}>
		<a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a>
	</li>

	<li {% if request.endpoint == 'auth.register' %} class="active" {% endif %}>
		<a href="{{ url_for('auth.register') }}">Register</a>
	</li>

	{% else %}

	<li {% if request.endpoint == 'activity.activity' %} class="active" {% endif %}>
		<a href="{{ url_for('activity.activity') }}">Activity</a>
	</li>

	{% endif %}

	<li style="float:right">
		<a href="{{ url_for('auth.logout') }}">Log Out</a>
	</li>
</ul></nav>
{% endif %}

{% for message in get_flashed_messages() %}
	<div class="flash">{{ message }}</div>
{% endfor %}

{% block content %}{% endblock %}
