{% extends 'base.html' %}

{% block content %}
<form class="card" method = "post">
	<div class="container">
		<label for="user">User</label>
		<select name="user" required>
			<option value="All" {% if g.last_user == "All" %}selected{% endif %}>All</option>
			{% for user in g.users %}
			<option value="{{ user }}" {% if g.last_user == user %}selected{% endif %}>{{ user }}</option>
			{% endfor %}
		</select>

		<label for="period">Period</label>
		<select name="period" required>
			<option value="day"{% if g.last_period == "day" %}selected{% endif %}>Last Day</option>
			<option value="week"{% if g.last_period == "week" %}selected{% endif %}>Last Week</option>
			<option value="month"{% if g.last_period == "month" %}selected{% endif %}>Last Month</option>
		</select>

		<button type="submit">Submit</button>
	</div>
</form>
<hr>

{% if g.stats %}
<div class="canvas-container">
	<canvas id="myChart" style="width:100%; max-width: 700px"></canvas>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js"></script>
<script>
//var xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
//var yValues = [55, 49, 44, 24, 15];
{% autoescape off %}
var xValues = {{ g.activities }};
var yValues = {{ g.durations }};
{% endautoescape %}
var barColors = ["#b91d47", "#00aba9", "#2b5797", "#e8c3b9", "#1e7145"];

var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
  type: "pie",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
	options: {
		plugins: {
			subtitle: {
				display: true,
				text: 'Custom Chart'
			},
			tooltip: {
				callbacks: {
					label: function(context) {
						var label = context.label + ": ";

						var mins = context.dataset.data[context.dataIndex];
						var hours = Math.floor(mins / 60);
						mins = mins % 60;

						if (hours > 0) {
							label += hours + " ore"
						}

						if (mins > 0) {
							label += " si " + mins + " minute"
						}

						return label
					}
				}
			}
		}
	}
});
</script>
{% endif %}
{% endblock %}
